<!--
  Author: Guillaume Valmont
  Date : September 24, 2023
  Licence: CC-BY-SA 4.0
  https://forge.apps.education.fr/anki-templates/iframe-simple
-->

<div id='divQuestion'>
</div>

<script>
  // Gets url from the "Lien" field
  var url = (function () {/* {{Lien}} */ }).toString();
  url = url.slice(16, url.length - 4);
  // Remove spaces that users may input by mistake
  url = url.replace(/^(?:&nbsp;|\s)+/g, '')
  // When a link is pasted on Windows and MacOS, Anki makes an anchor. Removes anchor markup if any.
  if (url.charAt(0) === '<') {
    var index = url.indexOf('>');
    url = url.slice(index + 1, url.indexOf('</a>'));
  }
  document.getElementById('divQuestion').innerHTML = '<iframe src="' + url + '" allowfullscreen frameborder="0"></iframe>';
</script>