/*
  Author: Guillaume Valmont
  Date : September 24, 2023
  Licence: CC-BY-SA 4.0
  https://forge.apps.education.fr/anki-templates/iframe-simple
*/

.card {
  font-family: "Hiragino Kaku Gothic Pro W3" !important;
  font-size: 20px;
  text-align: center;
  background-color: white;
}

#divQuestion {
  display: block;
  position: relative;
}
#divQuestion iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* Default font size */
.feedback {
  font-size: 20px;
}
#divQuestion {
  padding-top: 75vh;
}

/* Tablet styles - adjust font size for tablets */
@media (min-width: 768px) {
  .feedback {
    font-size: 30px;
  }
  #divQuestion {
    padding-top: 100vh;
  }
}

/* Desktop styles - adjust font size for desktop */
@media (min-width: 1024px) {
  .feedback {
    font-size: 40px;
  }
}
